<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>transaction_eidt</title>
<link rel="stylesheet" href="css/summernote-lite.css"/>
<style type="text/css">
	#bbs table {
		
		height: 800px;
	    width:800px;
	    margin-left:10px;
	    border-collapse:collapse;
	    font-size:14px;
		margin: 0 auto;
	    
	}
	
	#bbs table th {
	    text-align:center;
	    border:1px solid #DCDCDC;
	    padding:4px 10px;
		width: 15%;
	}
	
	#bbs table td {
	    text-align:left;
	    border:1px solid #DCDCDC;
	    padding:4px 10px;
		width: 85%;
	}
	
	.note-editor .note-editable {
	 line-height: 100%; /*개행 간격을 알맞게 설정*/
	}	
	.btn {
		width: 60px;
		height: 30px;
		background-color: white;
		border: 1px solid #DCDCDC;
		border-radius: 3px;
		pointer-events: stroke;
	}

	.btn:hover {

		background-color: #d3d3d3;
		cursor: pointer;
	}

	.btn2{
		width: 120px;
		height: 30px;
		background-color: white;
		border: 1px solid #DCDCDC;
		border-radius: 3px;
		pointer-events: stroke;
	}

	.btn2:hover{

		background-color: #d3d3d3;
		cursor: pointer;
	}
</style>
<script type="text/javascript">



function sendData() {
			let subject = $("#subject").val().trim();
			let price= $("#price").val().trim();
			let content = $("#content").val().trim();
			var imageExtensions = ["jpg", "jpeg", "png", "gif","JPG","JPEG","PNG","GIF"];

			var fileInput = document.getElementById('my-file-input');
			
			var extension; 
			
			
			if(fileInput != null){
				extension =  displayFileName(fileInput);
			}
			
			if (subject.length < 1) {
				alert("제목을 입력해주세요.");
				return;
			}

			if (price.trim().length < 1) {
				alert("판매가격을 입력해주세요.");
				return;
			}

			if(price.trim().length>8){
				alert("설정 가능 금액을 초과하셨습니다.");
				return;
			}

			if(!/^[0-9]+$/.test(price)){
            alert("판매금액에는 숫자만 입력 가능합니다.");
			return;
        	}

			if (content.length < 1) {
				alert("내용을 입력해주세요.");
				return;
			}

			if(fileInput!= null && fileInput.length>1){
				var ChkFile = false;
			


				for (var i = 0; i < imageExtensions.length; i++) {
					
					if(extension === imageExtensions[i]) {
						console.log("extension:"+extension);
						console.log((extension === imageExtensions[i]));
						ChkFile = true;
						break;;
					}
				}

				if(!ChkFile){
					alert("첨부 불가능한 파일입니다.");
					return;
				}

			}
			document.forms[0].submit();
		}

		function displayFileName(fileInput) {
			var fullPath = fileInput.value;
			var filename = fullPath.split('\\').pop().split('/').pop(); // 전체 경로에서 파일 이름 추출
			var extension = getExtension(filename);
			console.log(extension); // 확장자 출력

			return extension;
		}

		


		function getExtension(filename) {
			return filename.split('.').pop();
		}
		
</script>
</head>
<body>
	<div th:replace="shop/header.html"></div>
	<div id="bbs" style="margin-top: 150px;">
		<form action="goedit" method="post" 
			encType="multipart/form-data">
			<table th:if="${session.vo != null}">	
				<tbody>
					<tr 	>
						<th>제목</th>
						<td>
							<input type="text" 
							id="subject" 
							name="subject"  
							style="height: 30px; width: 99%; border-radius: 3px; padding-left: 3px;"   
							size="45"
							th:value="${session.vo.subject}"
							/>
							<input type="hidden" name="bname" value="transaction"/>
							<input type="hidden" name="m_idx" th:value="${session.member.m_idx}" />
							<input type="hidden" name="b_idx" th:value="${session.vo.b_idx}" />
						</td>
					</tr>
					<tr>
						<th>글쓴이</th>
						<td><input type="text" id="name" name="writer" style="border: none;"  size="12" th:value="${session.vo.id}" readonly /></td>
					</tr>
                    <tr>
						<th>판매 가격</th>
						<td>
							<input type="text" id="price" name="price" th:value="${session.vo.price}"  style="height: 30px; width: 99%; border-radius: 3px; padding-left: 3px;"   size="45"/>	
						</td>
					</tr>
					<tr>
						<th>내용</th>
						<td><textarea id="content" name="content"  cols="50" 
								rows="8"  th:utext="${session.vo.content}" ></textarea></td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td th:if="${session.vo.file_name != null}">
                            <input type="file" name="file" id ="my-file-input" style="display: none;"  />
                            <span id="test" th:text="${session.vo.file_name}"></span>
                            <input type="button" id="btn1" value="첨부파일 수정"  class="btn2" onclick="FileShow()"/>
						</td>
						<td th:if="${session.vo.file_name == null}">
                            <input type="file" name="file" id ="file" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="button" class="btn" value="보내기"
							onclick="sendData()"/>
							<input type="button" class="btn" value="목록" onclick="backList()"/>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	
	<div th:replace="shop/footer.html"></div>


	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="js/summernote-lite.js"></script>
	<script src="js/lang/summernote-ko-KR.js"></script>
	<script  charset="utf-8">
	
		
		$(function(){
			
			$("#content").summernote({
				height: 500,
				lang: "ko-KR",
				focus: true,/* 커서를 미리 가져다 놓는다. */
				callbacks:{
					onImageUpload: function(files, editor){
						// 이미지가 에디터에 추가될 때마다 수행하는 곳!
						// ( 추가되는 이미지들은 배열로 인식함! )
						for(let i=0; i<files.length; i++)
							sendImage(files[i], editor);// 서버로 비동기식 통신으로
									// 이미지를 서버로 업로드 시킨다. -- editor_img폴더 저장!
					}
				}
			});
			
			$("#content").summernote("lineHeight",1.5);
			
		});
		
		


		function sendImage(file, editor){
			// 에디터에 이미지가 들어왔을 때 수행하는 곳이다.
			// 이미지도 파일이므로 Multipart/form-data형식을 따라야 한다.
			let frm = new FormData();
			
			// 보내고자 하는 파일을 위해 만든 FormData에 파라미터를 넣어주자
			frm.append("s_file", file);
			
			//비동기식 통신
			$.ajax({
				url: "saveImg",
				data: frm,
				type: "post",
				contentType: false,
				processData: false,
				cache: false,
				dataType: "json",//서버로부터 받을 데이터 형식
			}).done(function(data){
				console.log (data.fname);
				let name = data.fname;
				//alert(name);

				setTimeout(function() {
					$("#content").summernote("editor.insertImage",  "/editor_img"+"/"+name);
				},1000);
				
			});
		}
	
		
	</script>
	<script th:inline="javascript"> 
	/*<![CDATA[*/


		window.addEventListener('DOMContentLoaded', function() {
			
		if (/*[[${session.member}]]*/ !== null) {
			
		}else{
			alert('로그인 후 이용가능한 페이지 입니다.');
			window.location.href = '/login';

		}

		});

		function FileShow(){

			if($("#file").css("display") == "none"){
				$("#file").show();
				$("#test").hide();
				$("#btn1").hide();

			} else {
				$("#file").hide();
			}


		}
		
	</script>
	
</body>
</html>





